@import url('https://fonts.googleapis.com/css2?family=Heebo&display=swap');
body {  direction: rtl;  margin:  0 auto; font-size: 1.2vw;}
p{  font-family: 'Heebo', sans-serif; font-size: 1.2vw;}
input{  font-family: 'Heebo', sans-serif;}
label{  font-family: 'Heebo', sans-serif;}
.main{  margin: 1%;}
.cursor { cursor: pointer;}

a{
  color:  rgb(103, 43, 160);
  font-family: 'Heebo', sans-serif;
}
* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
h3{
  font-family: 'Heebo', sans-serif;
  font-weight: bold;
  font-size: 1.3vw;
}
h2{
  font-weight: bolder;
  font-size: 1.8vw;
  text-align: center;
  font-family: 'Heebo', sans-serif;
}
h1{
  font-weight: bolder;
  font-size: 2vw;
  font-family: 'Heebo', sans-serif;
}

/* תפריט ניווט עליון */
#navbar {
  height: 4.5vw;
  position: fixed;
  z-index: 1;
  top: 0;
  width: 100%;
  background-size: 100%;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.disabled {
  cursor: not-allowed;
}

#navlogo {
  height: 4.5vw;
  padding-right: 20%;
}

#navbar ul {
  list-style: none;
  padding-inline-start: 0;
}

#navbar ul li {
  display: inline-block;
  width: 13%;
  text-align: center;
  color: white;
}

#navbar ul li a {
  display: block;
  text-decoration: none;
  color: white;
  font-family: 'Heebo', sans-serif;
  line-height: 4.5vw;
}

#navbar ul li.smaller {
  width: 8.5%;
}

#navbar ul li.bigger {
  width: 32%;
  padding-right: 20%;
}

#navbar ul li:hover a[href="index.html"] {
  background-color: rgba(255, 255, 255, 0);
}

#navbar ul li a:hover,
#navbar ul li:hover a {
  background-color: rgba(166, 202, 252);
  color: black;
}

#navbar .dropbtn {
  display: none;
  position: fixed;
  width: 30%;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0);
  background: rgba(166, 202, 252);
  color: black;
}

#navbar .dropbtn li {
  display: block;
  width: 100%;
}

#navbar .dropbtn li a {
  color: black;
  width: 100%;
  display: block;
  border-top: 0.4px #ffffff solid;
  text-decoration: none;
}

#navbar ul li .dropbtn a:hover {
  background: rgb(130, 177, 245);
}

#navbar ul li:hover .dropbtn {
  display: block;
}


/* חלק 1 בדף בית */
.headindex { 
  background-size: 100% 100%;
  height: auto;
  min-height: 520px;
  margin-top:4%;
}
.textpara {
  padding: 7% 2% 2% 0;
  display: block;
  width: 42%;
  height: auto;
  color: whitesmoke;
  font-weight: bolder;
}

/* כפתור גלילה למטה */
.startLerning > a {
  background-color: rgba(166, 202, 252);
  border-radius: 16px;
  text-decoration: none;
  color: white;
  padding: 1%;
  margin-right: 5%;
  font-weight:bolder;
  box-shadow: 0px 10px 16px 5px rgba(0,0,0,0.2);
}
.startLerning a:hover{
  background:rgb(130, 177, 245) ;
  color: black;
}

/* עמודי תוכן */

/* פירורי לחם */
ul.breadcrumb li {
  display: inline;
  font-size: 1vw;
  font-family: 'Assistant';
}
ul.breadcrumb li + li:before {
  padding: 1%;
  content: "/\00a0";

}
ul.breadcrumb li a {
  text-decoration: none;
  color: black;
  text-decoration: underline;
}
ul.breadcrumb li a:hover {
  text-decoration: underline;
}

/* כותרות */
#secondheader{
  text-align:center;
  margin-right: 10%;
  width: 80%;
}

/* עיצוב גלריה */
.imagSlides { display: none; }
img { vertical-align: middle; }

#mainimg{
  width: 34%;
  margin-right: 29%;
}

/* כפתורי מעבר תמונות */
.prev,
.next {
  padding: 2%;
  margin-top: 15%;
  color:rgb(103, 43, 160);
  font-weight: bold;
  font-size: 2vw;
  user-select: none;
}
/* במעבר על החצים, שינוי רקע */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
/* כפתור לתמונה הבאה */
.next {
  position:relative;
  float: right;
  border-radius: 7% 0  0 7%;
}
.prev {
  position:relative;
  float: left;
  border-radius: 0 7% 7% 0;
}
/* מספור התמונות (1 מתוך 5) */
.Numbering {
  color: #000000;
  font-size: 1vw;
  padding: 2% 5%;
  top: 0;
}
/* עיצוב לטקסט תיאור תמונה */
#imagTitel-container{
  text-align: center;
  background-color: rgb(103, 43, 160);
  padding: 1%;
}
 #imagTitel{
  color: white;
  font-family: 'Heebo', sans-serif;
}
/* שורת התמונות */
.column {
  float: left;
  width: 10%;
  margin-left: 8.33%;
}
/* שורת התמונות - אחרי */
.row:after {
  content: "";
  display: table;
  clear: both;
}
.miniImg {
  opacity: 0.5;
  width:100%
}
/* במעבר עכבר על שורת התמונות, בהירות התמונה תשתנה בהתאם */
.miniImg:hover {opacity: 1;}

.active{
  border-bottom: 2px rgb(130, 177, 245) solid;
  opacity: 1;
}


/* יתרונות וחסרונות */
/* מעבר עכבר על הכפתורים */
.tablink:hover { background-color: #777;}
/* שינוי צבע בהתאם */ 
#disadvantag { background-color: rgba(255, 0, 0, 0.04); }
#advantag { background-color: rgba(0, 255, 0, 0.04); }

.tablink {
  background-color: #555;
  color: white;
  float: right;
  border: none;
  padding: 1%;
  font-size: 1.7vw;
  opacity: 0.8;
  width: 50%;
  font-family: 'Heebo', sans-serif;
}
#containerpro{
  padding-left: 5%;
  width: 80%;
}
/* ברירת מחדל של אזור הכתיבה */
.tabcontent {
  display: none;
  padding: 5% 2%;
  width: 100%;
}

/* מפת אתר */
#site-map section{
  background-color: rgba(103, 43, 160, 0.09);
  border: 1px solid white ;
  box-sizing: border-box;
  display: block;
  height: auto;
  line-height: 3vw;
}
#site-map .map-section{
  padding: 1% 0;
  margin: auto;
  width: 80%;
}
#site-map a{
  color: #000000;
}
#site-map .disabled{
  color: #555;
  text-decoration: none;
}

/* טקסט אודות */
#aboutMaincontact {
  width: 45%;
  text-align: justify;
  color: white;
  background-color: rgb(107, 81, 151);
  border-radius:5px;
  padding: 5%;
  margin-right: 5%;
}
#mapa a{text-decoration: none;}
#mapa li{
  list-style-type:">  ";
  color:  rgb(103, 43, 160);
}

/* צור קשר - טופס */
.formBottoms {
  background-color:rgb(103, 43, 160);
  color: white;
  padding: 1% 2%;
  border: none;
  width: 30%;
  border-radius:4px;
}
form label{
   padding: 1% 4%;
   display: block;
}
.formBottoms:hover {
  background:rgba(166, 202, 252) ;
  color: #000000;
}
input[type=text], select, textarea{
  width: 100%; 
  padding: 1%; 
  border: 1px solid #ccc; 
  border-radius: 5px; 
  box-sizing: border-box; 
  margin-top: 2%; 
  resize: vertical;
}
#contactForm select{width: 32.8%; align-items: center;}
label .phone{width: 66%;}

/* תפריט סיום */
#footNav{
  text-align: center;
  background-color: rgb(103, 43, 160);
  color: white;
  width: 100%;
  clear: both;
  border-top: 0 solid #ffffff ;
  bottom: 0;
  position: relative;
  display: inline-block;
}
footer a{
  color: #ffffff;
  padding: 20px;
}
.footer-text{
  font-size: 0.5px;
}

/* תמונות */
#hitlogopng {
  height: 10%;
  width: 13%;
}
#taxesimage{
  height: 30vw;
  width: 80%;
  margin-top: 3%;
  margin-right: 10%;
}
#advaImage, #disadvaImage{
  right: 38%;
  top: 77%;
  height: 20%;
  width: 10%;
}
#imgabout {
  float: left;
  padding: 5%;
  width:40%;
  height: auto;
}

